<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  {namespace grav=NITSAN\NsYwFavorites\ViewHelpers} 
<f:layout name="Default" />
<f:section name="content">
  <input type="hidden" id="errFlag" value="{errFlag}">
  <f:if condition="{userId}">
    <f:then>
      <div id="sliderData">
        <div class="search-result--container">
          <div id="swiper" class="swiper mySwiper swiper-container gallery-top">
            <div class="swiper-wrapper">
              <f:for each="{pages}" as="resultrow">
                <f:if condition="{resultrow.0.uid}">
                  <div class="swiper-slide">
                      <f:if condition="{isEditable}}">
                          <button class="userList__delete__page">
                              <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/delete.png" alt="deletePage" width="25" height="25"></f:image>
                              <f:form action="deletePage" name="deletePage" class="deletePage" id="deletePage" >
                                  <f:form.hidden name="uid" value="{resultrow.0.uid}" />
                                  <f:form.hidden name="listId" value="{pages.page}" />
                              </f:form>
                          </button>
                          <button class="userList__left__page">
                              <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/left.png" alt="movePageLeft" width="25" height="25"></f:image>
                              <f:form action="list" name="leftPage" class="leftPage" id="leftPage" >
                                  <f:form.hidden name="uid" value="{resultrow.0.uid}" />
                                  <f:form.hidden name="listId" value="{pages.page}" />
                                  <f:form.hidden name="clickon" value="left" />
                              </f:form>
                          </button>
                          <button class="userList__right__page">
                              <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/right.png" alt="movePageright" width="25" height="25"></f:image>
                              <f:form action="list" name="rightPage" class="rightPage" id="rightPage" >
                                  <f:form.hidden name="uid" value="{resultrow.0.uid}" />
                                  <f:form.hidden name="listId" value="{pages.page}" />
                                  <f:form.hidden name="clickon" value="right" />
                              </f:form>
                          </button>
                      </f:if>
                    <figure class="image">
                        <picture>
                            <span class="card--image">    
                                <f:if condition="<f:cObject typoscriptObjectPath='lib.UidList' data='{uid:resultrow.0.uid}' />">
                                    <f:then>
                                        <f:image src="<f:cObject typoscriptObjectPath='lib.UidList' data='{uid:resultrow.0.uid}' />" treatIdAsReference="{treatIdAsReference}" maxWidth="150" maxWidth="150" />
                                    </f:then>
                                </f:if>      
                            </span>
                        </picture>
                    </figure>
                    <div class="card-body">
                        <h0 class="card-title mb-3">
                            <a href="{resultrow.0.nav_title}">
                                <grav:subtitle uid="{resultrow.0.uid}" property="nav_title" />
                            </a>
                        </h0>
                        <f:if condition="{resultrow.0.abstract} != ''">
                          <p class="card--text">
                            <grav:subtitle uid="{resultrow.0.uid}" property="abstract" />
                          </p>
                        </f:if>
                    </div>
                  </div>
                </f:if>
              </f:for>
            </div>
          </div>
        </div>
      </div>
      <div id="shareOptions" style="display:none;">
        <span id="editableSpan">
          <input type="checkbox" name="editable" id="editable"> <f:cObject typoscriptObjectPath="lib.favorites.editable" /> <br>
        </span>
        <span id="shareSpan" style="display: inline-flex;">
          <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/public.png" id="publicLink" width="50" height="50"></f:image>
          <p id="generatedLink" style="margin-top: 15px;">Link Generating...</p>
          <p id="copyLink" style="cursor: pointer; margin-top: 15px; color: #1a0dab;"><f:cObject typoscriptObjectPath="lib.favorites.copylink" /></p>
          <p id="copiedLink" style="margin-top: 15px; color: #681da8;"><f:cObject typoscriptObjectPath="lib.favorites.copiedlink" /></p>
          <f:comment>
            <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/copy.png" id="copyLink" width="50" height="50" style="display:none;"></f:image>
            <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/check.png" id="copiedLink" width="50" height="50" style="display:none; padding: 10px;"></f:image> 
          </f:comment>
        </span>
        <f:form action="share" name="duplicateList" class="duplicateList" id="addPageToList-{addtofavourite.uid}" >
          <!-- data-uid="{addtofavourite.uid}" -->
        </f:form>
        <f:form action="crypticurl" name="crypticurl" class="crypticurl">
        </f:form>
      </div>
      <div class="row">
        <input type="text" id="search" name="search" style="display:none;" />
      </div>
        <f:form action="list" id="FavListForm">

        </f:form>
        <div class="addtofavourite">
          <div class="addToFavMid">
            <!-- Add New List -->
            
            <div class="addList fav">
              <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/Add.png" alt="add" class="addImg" ></f:image>
              <div class="addListForm" style="display:none;">
                <button class="close-btn-addList" id="close-btn-addList">
                  <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/delete.png" width="25" height="25"></f:image>
                </button>
                <f:form action="create" name="newFavourite" id="addFavListForm" object="{newFavourite}">
                    <f:form.upload name="pic" name="pic" id="pic" style="width: 100%; margin-top: 15px;" />
                    <f:form.hidden id="picLabel" value="{f:translate(key: 'shoplist.choose_file', default: 'Choose File')}" />
                    <f:form.hidden id="user" property="user" value="{userId}" />
                    <f:form.textfield type="text" property="name" placeholder="{f:translate(key: 'shoplist.list_name', default: 'List Name')}" id="listname" class="form-control mb-2 mt-2" />
                    <f:form.textfield type="text" property="desc" placeholder="{f:translate(key: 'shoplist.list_description', default: 'List Description')}" id="desc" class="form-control" />
                    <f:form.submit class="btn btn-dark saveList" value="{f:translate(key: 'shoplist.save', default: 'Save')}" style="margin-top: 10px;" />
                </f:form>
              </div>
            </div>  
            <!-- Listing -->
            <f:for each="{favourites}" as="addtofavourite">
              <span class="userList" id="userList-{addtofavourite.uid}">
                <input type="hidden" name="checkflag" id="checkflag" value="{addtofavourite.editabletoall}">
                <f:if condition="{addtofavourite.userArr.0} == {userId}">
                  <f:then> 
                    <button class="userList__delete">
                      <f:image
                              src="EXT:ns_yw_favorites/Resources/Public/Icons/delete.png"
                              alt="del"
                              width="25"
                              height="25"
                              data="{href:'{f:uri.action(action: \'delete\', arguments:\'{addtofavourite: addtofavourite.uid}\')}'}"
                      />
                    </button>
                  </f:then>
                  <f:else>
                    <button class="userList__unfollow">
                      <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/delete.png" alt="unsub" width="25" height="25" />
                      <f:form action="unfollow" name="unfollow" class="unfollow" id="addPageToList-{addtofavourite.uid}" >
                        <f:form.hidden name="uid" value="{addtofavourite.uid}" />
                        <f:form.hidden name="user" value="{userId}" />
                      </f:form>
                    </button>
                  </f:else>
                </f:if>
                <button class="userList__add">
                  <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/Add.png" alt="add" width="25" height="25" />
                  <f:form action="duplicateList" name="duplicateList" class="duplicateList" id="addPageToList-{addtofavourite.uid}" >
                    <f:form.hidden name="uid" value="{addtofavourite.uid}" />
                  </f:form>
                </button>
                
                  <span class="userListImage" data-uid="{addtofavourite.uid}">
                    <div class="favimg">
                      <f:if condition="{addtofavourite.imagePath}">
                        <f:then>
                          <f:image src="fileadmin/{addtofavourite.imagePath.0.identifier}" alt="publicShare" ></f:image>
                        </f:then>
                        <f:else>
                          <f:image src="{addtofavourite.defaultpic}" alt="publicShare" ></f:image>
                        </f:else>
                      </f:if>
                    </div>
                    <h5>{addtofavourite.name}</h5>
                    <p>{addtofavourite.desc}</p>
                    <h6>{addtofavourite.username}</h6>
                    <h6><f:count>{addtofavourite.userArr}</f:count></h6>
                  </span>
                  <f:comment>
                      <f:form action="addpagetolist" name="addtofavourite" class="addPageToList" id="addPageToList-{addtofavourite.uid}" object="{addtofavourite}">
                        <f:form.hidden id="user" property="contain" value="{uid}" />
                        <f:form.hidden name="uid" value="{addtofavourite.uid}" />
                      </f:form>
                  </f:comment>
                  <f:if condition="{addtofavourite.userArr.0} == {userId}">
                    <f:then>
                      <button class="userList__edit">
                        <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/edit.png" alt="edit" width="25" height="25"></f:image>
                      </button>
                      <div class="updateList" style="display:none;">
                        <f:form action="update" name="updatefavourite" class="updateListForm" object="{updatefavourite}">
                            <f:form.hidden name="uid" property="uid" value="{addtofavourite.uid}" style="width: 100%; margin-top: 15px;" />
                            <f:form.upload name="pic" id="pic" style="width: 100%; margin-top: 15px;" />
                            <f:form.hidden id="picLabel" value="{f:translate(key: 'shoplist.choose_file', default: 'Choose File')}" />
                            <f:form.textfield type="text" property="name" value="{addtofavourite.name}" placeholder="{f:translate(key: 'shoplist.list_name', default: 'List Name')}" id="listname" class="form-control mb-2 mt-2" />
                            <f:form.textfield type="text" property="desc" value="{addtofavourite.desc}" placeholder="{f:translate(key: 'shoplist.list_description', default: 'List Description')}" id="desc" class="form-control" />
                            <f:form.submit class="btn btn-dark saveList" value="{f:translate(key: 'shoplist.save', default: 'Save')}" style="margin-top: 10px;" />
                        </f:form>
                      </div>
                    </f:then>
                    <f:else>
                      <f:for each="{addtofavourite.editbleArr}" as="arr">
                        <f:if condition="{arr} == {userId}">
                          <f:then>
                            <button class="userList__edit">
                              <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/edit.png" alt="edit" width="25" height="25"></f:image>
                            </button>
                            <div class="updateList" style="display:none;">
                              <f:form action="update" name="updatefavourite" class="updateListForm" object="{updatefavourite}">
                                  <f:form.hidden name="uid" property="uid" value="{addtofavourite.uid}" style="width: 100%; margin-top: 15px;" />
                                  <f:form.hidden id="picLabel" value="{f:translate(key: 'shoplist.choose_file', default: 'Choose File')}" />
                                  <f:form.upload name="pic" id="pic" style="width: 100%; margin-top: 15px;" />
                                  <f:form.textfield type="text" property="name" value="{addtofavourite.name}" placeholder="{f:translate(key: 'shoplist.list_name', default: 'List Name')}" id="listname" class="form-control mb-2 mt-2" />
                                  <f:form.textfield type="text" property="desc" value="{addtofavourite.desc}" placeholder="{f:translate(key: 'shoplist.list_description', default: 'List Description')}" id="desc" class="form-control" />
                                  <f:form.submit class="btn btn-dark saveList" value="{f:translate(key: 'shoplist.save', default: 'Save')}" style="margin-top: 10px;" />
                              </f:form>
                            </div>
                          </f:then>
                        </f:if>
                      </f:for>
                    </f:else>
                  </f:if>
                  <f:form action="list" name="slider" class="sliderForm" >
                    <f:form.hidden name="uid" value="{addtofavourite.uid}" />
                  </f:form>
              </span>
            </f:for>
          </div>
        </div>
    </f:then>
    <f:else>
        <h2><f:translate key="tx_nsywfavorites_domain_model_addtofavourite.logedout" /></h2>
    </f:else>
  </f:if>
</f:section>
</html>
