<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace ns=NITSAN\NsYwFavorites\ViewHelpers} 
<f:layout name="Default" />
<f:section name="content">
    <f:if condition="{sharedList}">
      <f:then> 
        <f:form action="sharedList" id="filterByFeUser">
          <f:form.select class="form-select mt-5 mb-5" id="userFilterDropdown">
            <f:form.select.option value="all" selected="selected">All</f:form.select.option>
            <f:for each="{feUsers}" as="feuser">
              <f:form.select.option value="{feuser}">{feuser}</f:form.select.option>
            </f:for>
          </f:form.select>
        </f:form>
        <f:form action="share" id="shareLinkGenerate" >
        </f:form>
        <f:form action="crypticurl" id="encryptUrl">
        </f:form>
        <input type="hidden" value="{addToFavSlug}" id="addToFavSlug">
        <input type="hidden" value="{favPageSlug}" id="favPageSlug">
        <div id="main-data">
          <table class="table table-bordered">
              <thead class="table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{f:translate(key: 'sharedList.username', extensionName: 'NsYwFavorites')}</th>
                  <th scope="col">{f:translate(key: 'sharedList.image', extensionName: 'NsYwFavorites')}</th>
                  <th scope="col">{f:translate(key: 'sharedList.name', extensionName: 'NsYwFavorites')}</th>
                  <th scope="col">{f:translate(key: 'sharedList.description', extensionName: 'NsYwFavorites')}</th>
                  <th scope="col">{f:translate(key: 'sharedList.sharedNumber', extensionName: 'NsYwFavorites')}</th>
                  <th scope="col">{f:translate(key: 'sharedList.shareLink', extensionName: 'NsYwFavorites')}</th>
                </tr>
              </thead>
              <tbody>
                  <f:for each="{sharedList}" as="listItem" iteration="i">
                      <tr>
                        <th scope="row">{i.cycle}</th>
                        <td>{listItem.username}</td>
                        <td>
                          <f:if condition="{ns:CheckAssetsPath(path: listItem.defaultpic)}">
                              <f:then>
                                  <f:image src="{listItem.defaultpic}" maxWidth="50" minHeight="50"/>
                              </f:then>
                              <f:else>
                                  <f:if condition="{ns:ImagePath(uid: listItem.pic)} !== ''">
                                    <f:then>
                                      <f:image src="{ns:ImagePath(uid: listItem.pic)}" maxWidth="50" minHeight="50"/>
                                    </f:then>
                                    <f:else>
                                      <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/list.png" maxWidth="50" minHeight="50"/>
                                    </f:else>
                                  </f:if>
                              </f:else>
                          </f:if>
                        </td>
                        <td>{listItem.name}</td>
                        <td>{listItem.desc}</td>
                        <td>{listItem.totalCount}</td>
                        <td>
                          <div class="spinner-border spinner-border-sm share-link-generate-loader d-none loading-spinner" role="status">
                          </div>
                          <div class="url-data">
                            <input type="checkbox" class="isEditable"> {f:translate(key: 'sharedList.isEditable', extensionName: 'NsYwFavorites')}
                            <p style="cursor: pointer;" class="share-list-url-generation" data-id="{listItem.uid}">
                              <span class="badge bg-info">
                                {f:translate(key: 'sharedList.clickToCopy', extensionName: 'NsYwFavorites')}
                              </span>
                            </p>
                          </div>
                        </td>
                      </tr>
                  </f:for>
              </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center main-loader d-none">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </f:then>
      <f:else>
        {f:translate(key: 'sharedList.noItem', extensionName: 'NsYwFavorites')}
      </f:else>
    </f:if>
</f:section>
</html>
