<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  {namespace grav=NITSAN\NsYwFavorites\ViewHelpers} 
<f:layout name="Default" />

<f:section name="content">
    <h1><grav:subtitle uid="{uid}" property="abstract" /></h1>
    <f:flashMessages />
    <f:if condition="{userId}">
      <f:then>
        <div class="ymPageModalCard-wrapper">
          <div class="ymPageModalCard">
            <f:if condition="<f:cObject typoscriptObjectPath='lib.UidList' data='{uid:uid}' />">
              <f:then>
                <f:image src="<f:cObject typoscriptObjectPath='lib.UidList' data='{uid:uid}' />" treatIdAsReference="{treatIdAsReference}" maxWidth="100" maxWidth="100" />
              </f:then>
            </f:if> 
            <span style="display: flex;justify-content: center;">{subtitle}</span>
          </div>
        </div>
        <div class="addtofavourite">
          <div class="addToFavMid">
            <div class="addList">
              <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/Add.png" alt="add" class="addImg" ></f:image>
              <div class="addListForm" style="display:none;">
                <button class="close-btn-addList" id="close-btn-addList">
                  <f:image class="close-btn-img" src="EXT:ns_yw_favorites/Resources/Public/Icons/delete.png" width="25" height="25"></f:image>
                </button>
                <f:form action="create" name="newAddtofavourite" id="addListForm" object="{newAddtofavourite}">
                  <f:if condition="<f:cObject typoscriptObjectPath='lib.UidList' data='{uid:uid}' />">
                    <f:then>
                      <f:image class="previewImg" src="<f:cObject typoscriptObjectPath='lib.UidList' data='{uid:uid}' />" treatIdAsReference="{treatIdAsReference}" maxWidth="75" maxWidth="75" />
                    </f:then>
                  </f:if> 
                    <f:form.hidden name="defaultPic" value="<f:cObject typoscriptObjectPath='lib.UidList' data='{uid:uid}' />"/>
                    <f:form.hidden id="user" property="user" value="{userId}" />
                    <f:form.upload name="pic" name="pic" id="pic" style="width: 100%; margin-top: 15px;" />
                    <f:form.hidden id="picLabel" value="{f:translate(key: 'shoplist.choose_file', default: 'Choose File')}" />
                    <f:form.textfield type="text" property="name" placeholder="{f:translate(key: 'shoplist.list_name', default: 'List Name')}" id="listname" value="{subtitle}" class="form-control mb-2 mt-2" />
                    <f:form.textfield type="text" property="desc" placeholder="{f:translate(key: 'shoplist.list_description', default: 'List Description')}" id="desc" class="form-control" />
                    <f:form.submit class="btn btn-dark saveList" value="{f:translate(key: 'shoplist.save', default: 'Save')}" style="margin-top: 10px;" />
                </f:form>
              </div>
            </div>  
            <f:for each="{addtofavourites}" as="addtofavourite">
              <span class="userList" id="userList-{addtofavourite.uid}">
                <f:if condition="{addtofavourite.userArr.0} == {userId}">
                  <f:then> 
                    <button class="userList__delete">
                      <f:image
                              src="EXT:ns_yw_favorites/Resources/Public/Icons/delete.png"
                              alt="del"
                              width="25"
                              height="25"
                              data="{href:'{f:uri.action(action: \'delete\', arguments:\'{addtofavourite: addtofavourite.uid}\')}'}"
                      />
                    </button>
                  </f:then>
                </f:if>
                <button class="userList__add">
                  <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/Add.png" alt="add" width="25" height="25"></f:image>
                  <f:form action="duplicateList" name="duplicateList" class="duplicateList" id="addPageToList-{addtofavourite.uid}" >
                    <f:form.hidden name="uid" value="{addtofavourite.uid}" />
                  </f:form>
                </button>
                  <span class="userListImage" data-uid="{addtofavourite.uid}">
                    <div class="favimg">
                      <f:if condition="{addtofavourite.imagePath}">
                        <f:then>
                          <f:image src="fileadmin/{addtofavourite.imagePath.0.identifier}" ></f:image>
                        </f:then>
                        <f:else>
                          <f:image src="{addtofavourite.defaultpic}" ></f:image>                    
                        </f:else>
                      </f:if>
                    </div>
                    <h5>{addtofavourite.name}</h5>
                    <p>{addtofavourite.desc}</p>
                    <h6>{addtofavourite.username}</h6>
                    <h6><f:count>{addtofavourite.userArr}</f:count></h6>
                  </span>
                  <f:form action="addpagetolist" name="addtofavourite" class="addPageToList" id="addPageToList-{addtofavourite.uid}" object="{addtofavourite}">
                    <f:form.hidden id="user" property="contain" value="{uid}" />
                    <f:form.hidden name="uid" value="{addtofavourite.uid}" />
                  </f:form>
<!-- edit button admin condition -->
                  <f:if condition="{addtofavourite.userArr.0} == {userId}">
                    <f:then>
                      <button class="userList__edit">
                        <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/edit.png" alt="edit" width="25" height="25"></f:image>
                      </button>
                      <div class="updateList" style="display:none;">
                        <f:form action="update" name="updatefavourite" class="updateListForm" object="{updatefavourite}">
                            <f:form.hidden id="user" property="user" value="{userId}" />
                            <f:form.hidden name="uid" property="uid" value="{addtofavourite.uid}" style="width: 100%; margin-top: 15px;" />
                            <f:form.hidden id="picLabel" value="{f:translate(key: 'shoplist.choose_file', default: 'Choose File')}" />
                            <f:form.upload name="pic" id="pic" style="width: 100%; margin-top: 15px;" />
                            <f:form.textfield type="text" property="name" value="{addtofavourite.name}" placeholder="{f:translate(key: 'shoplist.list_name', default: 'List Name')}" id="listname" class="form-control mb-2 mt-2" />
                            <f:form.textfield type="text" property="desc" value="{addtofavourite.desc}" placeholder="{f:translate(key: 'shoplist.list_description', default: 'List Description')}" id="desc" class="form-control" />
                            <f:form.submit class="btn btn-dark saveList" value="{f:translate(key: 'shoplist.save', default: 'Save')}" style="margin-top: 10px;" />
                        </f:form>
                      </div>
                    </f:then> 
                    <f:else>
                      <f:for each="{addtofavourite.editbleArr}" as="arr">
                        <f:if condition="{arr} == {userId}">
                          <f:then>
                            <button class="userList__edit">
                              <f:image src="EXT:ns_yw_favorites/Resources/Public/Icons/edit.png" alt="edit" width="25" height="25"></f:image>
                            </button>
                            <div class="updateList" style="display:none;">
                              <f:form action="update" name="updatefavourite" class="updateListForm" object="{updatefavourite}">
                                  <f:form.hidden id="user" property="user" value="{userId}" />
                                  <f:form.hidden name="uid" property="uid" value="{addtofavourite.uid}" style="width: 100%; margin-top: 15px;" />
                                  <f:form.upload name="pic" id="pic" style="width: 100%; margin-top: 15px;" />
                                  <f:form.hidden id="picLabel" value="{f:translate(key: 'shoplist.choose_file', default: 'Choose File')}" />
                                  <f:form.textfield type="text" property="name" value="{addtofavourite.name}" placeholder="{f:translate(key: 'shoplist.list_name', default: 'List Name')}" id="listname" class="form-control mb-2 mt-2" />
                                  <f:form.textfield type="text" property="desc" value="{addtofavourite.desc}" placeholder="{f:translate(key: 'shoplist.list_description', default: 'List Description')}" id="desc" class="form-control" />
                                  <f:form.submit class="btn btn-dark saveList" value="{f:translate(key: 'shoplist.save', default: 'Save')}" style="margin-top: 10px;" />
                              </f:form>
                            </div>
                          </f:then>
                        </f:if>
                      </f:for>
                    </f:else>
                  </f:if>

                  
                  
              </span>
            </f:for>
          </div>
        </div>
      </f:then>
      <f:else>
        <div class="ymPageModalCard-wrapper">
          <div class="ymPageModalCard">
            <f:if condition="<f:cObject typoscriptObjectPath='lib.UidList' data='{uid:uid}' />">
              <f:then>
                <f:image src="<f:cObject typoscriptObjectPath='lib.UidList' data='{uid:uid}' />" treatIdAsReference="{treatIdAsReference}" maxWidth="100" maxWidth="100" />
              </f:then>
            </f:if> 
            <span style="display: flex;justify-content: center;">{subtitle}</span>
          </div>
        </div>
        <div class="addtofavourite">
          <h2 class="text-center pt-5 pb-5"><f:translate key="tx_nsywfavorites_domain_model_addtofavourite.logedout" /></h2>
        </div>
      </f:else>
    </f:if>
</f:section>
</html>
