<!--
	=====================
	Partials/ResultRows.html
-->
{namespace ns=NITSAN\NsYwSearch\ViewHelpers}

<div class="clearer"> </div>
<f:render partial="Sorting" arguments="{conf: conf, numberofresults: numberofresults, sortingLinks: sortingLinks}" />
<f:if condition="{conf.pagebrowserOnTop}">
	<div id="kesearch_pagebrowser_top"><f:render partial="PageBrowser" arguments="{conf: conf, numberofresults:numberofresults, pagebrowser:pagebrowser}" /></div>
</f:if>
<div class="search-result--container">
	<div id="swiper" class="swiper mySwiper swiper-container gallery-top">
		<div class="swiper-wrapper">
				<f:for each="{resultrows}" as="resultrow">
					<f:if condition="{resultrow.url} != ''">
						<f:render partial="ResultRow" arguments="{conf: conf, resultrow: resultrow}" />
					</f:if>
				</f:for>
				<f:if condition="{conf.pagebrowserAtBottom}">
					<f:render partial="PageBrowser" arguments="{conf: conf, numberofresults:numberofresults, pagebrowser:pagebrowser}" />
				</f:if>
		</div>
	</div>
</div>

<f:if condition="{conf.showQueryTime}">
	<div id="kesearch_query_time">{queryTimeText}</div>
</f:if>

