/*body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0;
	padding: 0;
	height: 300px;
    overflow: visible !important;
}
*/
.swiper-container {
		width: 100%;
		height: 300px;
		margin: 20px auto;
}

.swiper-slide-container {
  text-align: center;
	font-size: 18px;
	background: #fff;
  height:100%;
  max-width: 600px;
  margin:auto;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
}
.modal.transparentBg .modal-body {
	height: 500px;
	overflow: scroll;
}

@media only screen  and (max-device-width : 700px) and (orientation : landscape) {
	.modal.transparentBg .modal-body {
		max-height: 200px;
	}
}
.cropimage{
	max-width: 25px;
}
#generatedLink {
	hyphens: auto;
	word-break: break-word;
}
.hide{
	display: none;
}

.mystyle .userList__i {
	display: none !important;
}

.gallery-top {
		height: 80%;
		width: 100%;
}
.gallery-thumbs {
		height: 20%;
		box-sizing: border-box;
		padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
		width: 20%;
		height: 100%;
		opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
		opacity: 1;
}

.optionCheckBox {
	position: relative;
	display: inline-block;
	border: 1px solid;
	min-width: 90px;
	text-align: center;
	margin: 5px;
}

.optionCheckBox--parent {
	border-color: red;
}

.optionCheckBox input {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.optionCheckBox label {
	width: 100%;
	padding: 5px;
	height: 100%;
	pointer-events: auto !important;
}

.optionCheckBox input:checked + label {
	background-color: #000;
	color: #fff;
}

.kesearchbox {
	display: flex;
	align-items: center;
}
#kesearch_filters .list {
	display: flex;
	align-items: center;
}

#kesearch_filters .checkboxList {
	margin-bottom: 0;
}

.transparentBg {
	max-width: 99%;
	margin-left: auto;
	margin-right: auto;
	left: 50%;
	transform: translateX(-50%);
	top: 50px;
	height: auto;
}

#page-footer {
	position: relative !important;
}

.transparentBg .modal-dialog {
	max-width: calc(100% - 16px);
	width: calc(100% - 16px);
}

@media (max-width: 480px) {
	.search-result--container .gallery-top .swiper-wrapper {
		text-align: center;
	}
}

@media (min-width: 768px) { 
	.transparentBg {
		top: 60px;
		max-width: 98%;
	}
}

@media (min-width: 992px) {
	.transparentBg {
		top: 80px;
	}
}

@media (min-width: 1200px) {
	.transparentBg {
		top: 100px;	
	}
}

.list .checkboxList {
	position: relative;
	padding-left: 115px;
	margin-bottom: 10px !important;
}

.list .checkboxList .optionCheckBox--parent {
	position: absolute;
	top: 0;
	left: 0;
}

.optionCheckBox--img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-width: 2px;
}

.optionCheckBox--img label { 
	opacity: 0;
}

.optionCheckBox--img:not(.optionCheckBox--parent) {
	border-color: transparent;
}

.optionCheckBox--img.optionCheckBox--active {
	border-color: #000;
}

.ymPageModalCard-wrapper{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.ymPageModalCard{
	text-align: center;
	width: 150px;
	border: 1px solid gray;
	padding: 25px 0px 25px 0px;
}

.addList {
	max-width: 150px;
	padding: 10px;
	text-align: center;
}

.updateList {
	max-width: 150px;
	padding: 10px;
	text-align: center;
}

.btn-list-close {
	float: right;
}

.addImg{
	width: 100%;
	Height: auto;
}

.addtofavourite{
	border: solid 2px gray;
	border-radius: 15px;
}

.userListImage img{
	width:100px;
	height:100px;
	display: inline-block;
	margin: 10px;
}
.userList {
	text-align: center;
	position: relative;
	max-width: 125px;
}
.userList:hover{
	cursor: pointer;
}

.userList .userList__delete{
	display:none;
}

.userList .userList__unfollow{
	display:none;
}

.userList .userList__add{
	display:none;
}

.userList .userList__edit{
	display:none;
}

.userList .userList__i{
	display:none;
}

.addToFavMid {
	display: flex;
	flex-wrap: wrap;
}

.userList__delete {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	background-color: #fff;
	border: 2px solid #975004;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.userList__unfollow {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	background-color: #fff;
	border: 2px solid #975004;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.userList__delete__page {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-color: #fff;
	border: 2px solid #975004;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.userList__left__page {
	position: absolute;
	top: 66px;
	left: 0px;
	z-index: 1;
	background-color: #fff;
	border: 2px solid #975004;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.userList__right__page {
	position: absolute;
	top: 66px;
	left: 125px;
	z-index: 1;
	background-color: #fff;
	border: 2px solid #975004;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.userList__add {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
	background-color: #fff;
	border: 2px solid #975004;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.userList__edit {
	position: absolute;
	top: 85px;
	right: 10px;
	z-index: 1;
	background-color: #fff;
	border: 2px solid #975004;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.userList__i {
	position: absolute;
	top: 85px;
	left: 10px;
	z-index: 1;
	background-color: #fff;
	border: 2px solid #975004;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.close-btn-addList {
	z-index: 1;
	background-color: #fff;
	border: 2px solid #975004;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	float: right;
}

.card--image img{
	width: 100%;
	height: auto;
}
