<div class="swiper-slide">
    <figure class="image">
        <f:if condition="{page.image}">
            <f:image src="{page.image}" treatIdAsReference="1" maxWidth="200" />
        </f:if>
    </figure>
    <div class="card-body">
        <h0 class="card-title mb-3">
            <f:link.page pageUid="{page.uid}">{page.title}</f:link.page>
        </h0>
        <f:if condition="{page.description}">
            <p class="card--text"><f:format.raw>{page.description}</f:format.raw></p>
        </f:if>
        <f:if condition="{page.languageLabels}">
            <span class="language-labels">
                <f:for each="{page.languageLabels}" as="label">
                    <span class="language-label">{label}</span>
                </f:for>
            </span>
        </f:if>
    </div>
</div>
